.dashCard {
  width: 20%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  background-color: #211f2c;
  min-height: 30rem;
  padding: 1.2rem;
  border-radius: 32px;
  box-shadow: 0 10px 10px #00000016;
  border: 1px solid transparent;
  cursor: pointer;
  transition: 0.2s;
}

.dashCard:hover {
  box-shadow: 0 15px 20px #00000016;
}

.totalBudgetContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.totalBudget {
  font-weight: 600;
  font-size: 2em;
}

.currency {
  color: #4a465e;
  font-size: 1.5em;
}

.cardLabel {
  font-weight: 600;
  font-size: 0.8rem;
  margin-bottom: 1rem;
}

.expenseCard {
  padding: 1.2rem;
  min-height: 3rem;
  max-height: 4.5rem;
  display: flex;
  border-radius: 17px;
  margin-bottom: 1rem;
  align-items: center;
  background-color: #3e3a55;
  box-shadow: 0 10px 10px #00000016;
}

.expenseCardIcon {
  flex: 1;
  font-size: 0.65em;
  font-weight: 600;
  color: #aeffd1;
}

.expenseCardName {
  flex: 3;
  font-size: 1em;
}

.expenseCardPrice {
  flex: 1;
  color: #e4ffae;
  font-weight: 600;
  font-size: 0.55em;
}
