.dashCard {
  width: 23%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  background-color: #211f2c;
  height: 45vh;
  padding: 1.2rem;
  border-radius: 32px;
  box-shadow: 0 10px 10px #00000016;
  border: 1px solid transparent;
  cursor: pointer;
  transition: 0.2s;
}

.dashCard:hover {
  box-shadow: 0 15px 20px #00000016;
}

.totalBudgetContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.totalBudget {
  font-weight: 600;
  margin: 0;
  font-size: 2.4em;
}

.currency {
  color: #4a465e;
  font-size: 1.8em;
}

.cardLabel {
  font-weight: 600;
  font-size: 0.8rem;
  margin-bottom: 1rem;
}

.expenseCard {
  padding: 1rem;
  min-height: 3.5rem;
  max-height: 4.5rem;
  width: 100%;
  display: flex;
  border-radius: 17px;
  margin-bottom: 1rem;
  align-items: center;
  background-color: #302d3f;
  box-shadow: 0 5px 9px 5px #00000016;
}

.expenseCard p {
  margin: 0;
  padding: 0;
}

.expenseCardIcon {
  flex: 1;
  font-size: 0.65em;
  font-weight: 600;
}

.expenseCardName {
  flex: 2;
  font-size: 1em;
}

.expenseCardPrice {
  justify-self: flex-end;
  color: #aeffd1;
  font-size: 1.2em;
}
