.itineraryCard {
  width: 20%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  background-color: #211f2c;
  min-height: 30rem;
  padding: 1.2rem;
  border-radius: 32px;
  box-shadow: 0 10px 10px #00000016;
  border: 1px solid transparent;
  cursor: pointer;
  transition: 0.2s;
}

.itineraryCard:hover {
  box-shadow: 0 1px 5px #e4ffae;
}

.cardLabel {
  font-weight: 600;
  font-size: 0.8rem;
  margin-bottom: 1rem;
}

.dayCard {
  padding: 1.2rem;
  min-height: 3rem;
  max-height: 4.5rem;
  display: flex;
  border-radius: 17px;
  margin-bottom: 1rem;
  align-items: center;
  background-color: #2a2836;
  box-shadow: 0 10px 10px #00000016;
}

.dayCardDay {
  flex: 1;
  font-size: 0.65em;
  font-weight: 600;
  color: #aeffd1;
}

.dayCardActivity {
  flex: 3;
  font-size: 1em;
}

.dayCardTime {
  flex: 1;
  color: #e4ffae;
  font-weight: 600;
  font-size: 0.55em;
}

.planBtn {
  outline: none;
  align-self: center;
  padding: 0.6rem 0;
  font-size: 0.7em;
  border-radius: 1rem;
  color: white;
  border: none;
  width: 70%;
  background-color: #ce566a;
  box-shadow: 0 10px 10px #00000016;
  transition: 0.2s;
}

.planBtn:hover {
  box-shadow: 0 15px 50px #00000016;
  transform: scale(1.02);
}

.planBtn:focus {
  outline: none;
}
