.container {
  display: flex;
}

.left {
  flex: 1;
}

.right {
  flex: 1;
}

.dayList {
  width: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem;
  border-right: 1px solid #39344f;
}

.dayCard {
  margin: 1rem;
  display: flex;
  padding: 1.5rem;
  width: 60%;
  background-color: #211f2c;
  border-radius: 32px;
  box-shadow: 0 15px 10px #00000016;
}

.dayContainer {
  display: flex;
  flex-direction: column;
  align-self: center;
  margin-right: 2rem;
}

.dayLabel {
  font-weight: 600;
  color: #6c6683;
  font-size: 0.7em;
}

.dayText {
  color: #aeffd1;
  font-size: 1.65em;
  align-self: center;
  font-weight: 600;
}

.dayCardActivity {
  padding: 0;
  font-weight: 600;
  font-size: 1.65em;
}

.dayCardLocation {
  padding: 0;
  font-size: 0.8em;
  font-weight: 600;
  color: #6c6683;
}

.dayForm {
  margin: 2rem;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dayInput {
  margin: 1rem;
  text-align: center;
  width: 80%;
  padding: 1rem 1.2rem;
  color: white;
  background-color: #211f2c;
  border: none;
  border-radius: 1rem;
  outline: none;
  font-size: 1rem;
}

.dayInput::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #6c6683;
  opacity: 1; /* Firefox */
}

.dayInput:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #6c6683;
}

.dayInput::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #6c6683;
}

.dayBtn {
  user-select: none;
  margin: 2rem 0;
  outline: none;
  justify-self: center;
  align-self: center;
  padding: 0.6rem 0;
  font-size: 0.8em;
  font-weight: 600;
  border-radius: 1rem;
  color: white;
  border: none;
  width: 50%;
  background-color: #7f61d0;
  box-shadow: 0 10px 10px #00000016;
  transition: 0.2s;
}

.dayBtn:hover {
  box-shadow: 0 15px 50px #00000016;
  transform: scale(1.02);
}

.activityList {
  width: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem;
}

.dayBtn:focus {
  outline: none;
}

.activityGroup {
  display: flex;
  width: 70%;
}

.activityTime {
  color: #aeffd1;
  align-self: center;
  font-weight: 600;
}

.activityName {
  font-size: 1em;
  font-weight: 600;
}

.activityLocation {
  font-size: 0.6em;
  color: #8981c4;
}

.activityCard {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  padding: 1.5rem 2rem;
  width: 80%;
  background-color: #2a2836;
  border-radius: 32px;
  box-shadow: 0 15px 10px #00000016;
}
