.topNav {
  border: 0;
  padding: 10px 0;
  border-bottom: 1px solid #39344f;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tripName {
  font-size: 1.4em;
  padding: 0;
  margin: 0;
  font-weight: 600;
}

.tripLocation {
  margin-top: 0.3rem;
  font-size: 0.7em;
  color: #6c6683;
}

.profileGroup {
  display: flex;
}

.profileText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.userName {
  font-weight: 600;
  font-size: 1.2em;
}

a {
  align-self: flex-end;
}

.settingsBtn {
  font-size: 0.8rem;
  color: #6e56ce;
  cursor: pointer;
  transition: 0.2s;
}

.settingsBtn:hover {
  color: white;
}

.profileImage {
  margin-left: 1.2rem;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  border: 3px solid #6e56ce;
  cursor: pointer;
  transition: 0.2s;
}

.profileImage:hover {
  border: 3px solid #fff;
}
