.dashCard {
  margin-top: 2rem;
  display: flex;
  width: 45%;
  height: 22vh;
  flex-direction: column;
  background-color: #211f2c;
  padding: 1.2rem;
  border-radius: 32px;
  box-shadow: 0 15px 10px #00000016;
  border: 1px solid transparent;
  cursor: pointer;
  transition: 0.2s;
}

.dashCard:hover {
  box-shadow: 0 15px 20px #00000016;
}

.cardLabel {
  font-weight: 600;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.weatherList {
  display: flex;
}
